In [210]:
%pwd
%ls

 Volume in drive C has no label.
 Volume Serial Number is 622C-36CE

 Directory of c:\Users\Ditmar\python_projects\albarent

29/08/2021  00:58    <DIR>          .
29/08/2021  00:58    <DIR>          ..
29/08/2021  21:39            21,798 data_cleaning.ipynb
29/08/2021  00:45                 0 data_cleaning.py
15/06/2021  17:43            46,507 data1.xlsx
15/06/2021  17:42            24,865 data2.xlsx
               4 File(s)         93,170 bytes
               2 Dir(s)  110,884,216,832 bytes free

In [211]:
import pandas as pd
from numpy import nan as NA
pd.set_option('max_columns', None)
pd.set_option('max_row',3)

In [212]:
df1 = pd.read_excel('data1.xlsx',sheet_name=0,skiprows=[0,1,3,4],skipfooter=8)
df2 = pd.read_excel('data1.xlsx',sheet_name=1,skiprows=[0,1])
df3 = pd.read_excel('data1.xlsx',sheet_name=2,skiprows=[0,1])
df4 = pd.read_excel('data1.xlsx',sheet_name=3,skiprows=[0,1],skipfooter=7)
df5 = pd.read_excel('data1.xlsx',sheet_name=4,skiprows=[0,1,4],skipfooter=6)

In [213]:
df5 = df5.rename({'one':'New_name'},axis='columns')

In [214]:
df1 = df1[['Targa','Modeli','Viti Prodhimit','Kapacitetti CC','Karburanti','Numri I vendeve']]
df2 = df2[['Targa','Modeli','Viti Prodhimit','Kapacitetti CC','Karburanti','Numri I vendeve']]
df3 = df3[['Targa','Modeli','Viti Prodhimit','Kapacitetti CC','Karburanti']]
df4 = df4[['Targa','Modeli','Viti Prodhimit','Kapacitetti CC','Karburanti']]
df5 = df5[['Targa','Modeli','Viti Prodhimit','Kapacitetti CC','Karburanti']]

In [215]:
print(df1.shape)

(89, 6)

In [216]:
data = pd.concat([df1,df2,df3,df4,df5])

In [217]:
data

        Targa  Modeli Viti Prodhimit Kapacitetti CC Karburanti Numri I vendeve
0   AA 940 HC  Citigo            NaN            NaN        NaN             NaN
..        ...     ...            ...            ...        ...             ...
23  AA 165 JO    2011          110.0          Nafte        NaN             NaN

[200 rows x 6 columns]

In [218]:
data.to_csv('database.csv')

In [219]:
%pwd

'c:\\Users\\Ditmar\\python_projects\\albarent'

In [220]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 622C-36CE

 Directory of c:\Users\Ditmar\python_projects\albarent

31/08/2021  11:03    <DIR>          .
31/08/2021  11:03    <DIR>          ..
29/08/2021  21:39            21,798 data_cleaning.ipynb
29/08/2021  00:45                 0 data_cleaning.py
15/06/2021  17:43            46,507 data1.xlsx
15/06/2021  17:42            24,865 data2.xlsx
31/08/2021  11:03             7,378 database.csv
               5 File(s)        100,548 bytes
               2 Dir(s)  110,884,200,448 bytes free